<div th:fragment="dadosUsuario" class="card mt-4">
	<!-- Tab panes -->
	<div class="tab-content border border-top-0 p-3" id="usuarioTabsContent">
		<div class="tab-pane fade show active" id="dados" role="tabpanel" aria-labelledby="dados-tab">
			<div class="card mt-4 form-control">
				<div class="card-header bg-success text-white">
					<h5>Dados do usuário</h5>
				</div>
				<div class="card-body">
					<div class="mb-3">
						<input type="hidden" id="id" name="usuario.id">
						<label for="login" class="form-label">Login</label>
						<input type="text" class="form-control" id="login" name="usuario.login" required>
					</div>
					<div class="mb-3">
						<label for="senha" class="form-label">Senha</label>
						<input type="text" class="form-control" id="senha" name="usuario.senha" required>
					</div>
					<div class="mb-3">
						<label for="perfil" class="form-label">Perfil</label>
						<select class="form-select" id="perfil" name="usuario.perfil" required>
						    <option value="">Selecione</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>