<div th:fragment="clube" class="card mt-4">
	<div class="card mt-4">
		<div class="card-header bg-success text-white">
			<h5>Clube</h5>
		</div>
		<div class="card-body">
			<div class="row mb-3">
				<div id="clubeOptions"></div>
			</div>
			<div class="row">
				<div class="col-md-3 mb-3">
					<label for="clubeId" class="form-label">Código/Identificador</label>
					<div class="input-group">
						<input type="text" class="form-control" id="clubeId" name="clube.id" required>
						<span class="input-group-text">
							<i class="bi bi-search"></i>
						</span>
					</div>
				</div>
				<div class="col-md-9 mb-3">
					<label for="clubeDescricao" class="form-label">Nome/Descrição</label>
					<input type="text" class="form-control" id="clubeDescricao" disabled>
				</div>
			</div>
		</div>
	</div>
</div>