<div th:fragment="foto" class="card mt-4">
	<div class="card-header bg-success text-white">
		<h5>Foto</h5>
	</div>
	<div class="card-body">
		<div class="mb-3">
			<label for="fotoAluno" class="form-label">Foto do Aluno</label> <input
				class="form-control" type="file" id="fotoAluno" accept="image/*"
				placeholder="Carregar">
		</div>
		<div id="previewFoto" style="margin-bottom: 10px;">
			<img id="imgPreview" src="" alt="Preview"
				style="max-width: 200px; display: none;" />
		</div>
		<button type="button" class="btn btn-danger" id="removerFoto"
			style="display: none;">Remover Foto</button>
	</div>
</div>