<div th:fragment="foto">
	<div class="mt-3">
		<label for="fotoAluno" class="form-label">Foto do Aluno</label> <input class="form-control" type="file" id="fotoAluno" accept="image/*" placeholder="Carregar">
	</div>
	<div class="mt-3" id="previewFoto" style="margin-bottom: 10px;">
		<img id="imgPreview" src="" alt="Preview" style="max-width: 200px; display: none;" />
	</div>
	<div class="mt-3">
		<button type="button" class="btn btn-danger" id="removerFoto" style="display: none;">Remover Foto</button>
	</div>
</div>