<div th:fragment="igreja" class="card mt-4">
	<div class="card mt-4">
		<div class="card-header bg-success text-white">
			<h5>Igreja</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-3 mb-3">
					<label for="igrejaId" class="form-label">Código/Identificador</label>
					<div class="input-group">
						<input type="text" class="form-control" id="igrejaId" name="igreja.id" required>
						<span class="input-group-text">
							<i class="bi bi-search"></i>
						</span>
					</div>
				</div>
				<div class="col-md-9 mb-3">
					<label for="igrejaDescricao" class="form-label">Nome/Descrição</label>
					<input type="text" class="form-control" id="igrejaDescricao" disabled>
				</div>
			</div>
		</div>
	</div>	
</div>