<header class="bg-white shadow-sm fixed-top">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand d-flex align-items-center" href="#">
				<img src="/img/logo-oanse.png" alt="Logo Oanse" class="me-2 img-fluid"
					style="max-width: 200px; height: auto;">
				<span style="font-family: 'Fredoka One', cursive; font-size: 1.3rem;"></span>
			</a>
			<!-- Adiciona o nome do login visível em todas as telas -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav gap-2">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="cadastroDropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Cadastro
						</a>
						<ul class="dropdown-menu" aria-labelledby="cadastroDropdown">
							<li><a id="btnCadastrarIgreja" class="dropdown-item" href="#">Igrejas</a></li>
							<li><a id="btnCadastrarAluno" class="dropdown-item" href="#">Alunos</a></li>
							<li><a id="btnCadastrarUsuario" class="dropdown-item" href="#">Usuarios</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="secretariaDropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Secretaria
						</a>
						<ul class="dropdown-menu" aria-labelledby="secretariaDropdown">
							<li><a id="btnAtribuiManual" class="dropdown-item" href="#">Atribuir manual</a></li>
							<li><a class="dropdown-item" href="#">Concluir sessão</a></li>
							<li><a class="dropdown-item" href="#">Gerenciar talentos</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="relatorioDropdown" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Relatórios							
						</a>
						<ul class="dropdown-menu" aria-labelledby="relatorioDropdown">
							<li><a class="dropdown-item" href="#">Alunos</a></li>
							<li><a class="dropdown-item" href="#">Talentos</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a id="btnSair" class="nav-link" href="#">Sair</a>
					</li>
					<li class="text-danger d-flex align-items-center">
						<span id="usuarioLogin" class="ms-3" th:if="${login}"
							th:text="'Olá ' + ${login} + '!'">Bem vindo!</span>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>