body {
	font-family: 'Fredoka One', cursive;
	background: linear-gradient(to right, #0077cc, #66ccff);
	height: 100vh;
	padding-top: 110px;
}

.card {
	border-radius: 20px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

.card-header {
	background-color: #ffc107;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
}

.card-header h3 {
	margin: 0;
	color: #003366;
}

.logo {
	height: 100px;
}

.nav-link:hover {	
	text-decoration: underline;	
}

.form-control {
	border-radius: 10px;
}

.btn-primary {
	background-color: #0077cc;
	border: none;
}

.btn-primary:hover {
	background-color: #005fa3;
}

.footer {
	text-align: center;
	margin-top: 10px;
	font-size: 0.9em;
	color: #777;
}